<h1>Maharishi University of Management</h1>
<h3>About</h3>
<p>
  Maharishi University of Management (MUM), formerly Maharishi International University, is a University that features features
  a "consciousness-based education" system that includes the practice of the Transcendental Meditation technique. Its founding
  principles include the development of the full potential of the individual, fulfilling economic aspirations while maximizing
  proper use of the environment and bringing spiritual fulfillment and happiness to humanity. The campus supports a progressive
  and inclusive campus culture that’s creative, dynamic, and focused on making the world a better, more peaceful place.
</p>